@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #005AFF, // The primary color of your brand EA148D
  accent: #FE5000, // The accent color of your brand ffff00
  theme: light // This can be dark or light
));

@import "~vue-material/dist/theme/all"; // Apply the theme  

