$theme-colors: (
  primary: #17a2b8,
  info: #6c757d,
  secondary: #137786,
  postit0:#cdfc93,
  postit1:#fff68b,
  postit2:#71d7ff,
  postit3:#ff7ecd,
  postit4:#ce81ff,
);

@import "~/node_modules/bootstrap/scss/bootstrap";

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #ce81ff;
}
