@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #EA148D, // The primary color of your brand
  accent: #ffff00, // The accent color of your brand
  theme: light // This can be dark or light
));

@import "~vue-material/dist/theme/all"; // Apply the theme  

