$theme-colors: (
  primary: #5368e8,
  dark: #172554,
  info: #6c757d,
  secondary: #172554,
  postit0:#cdfc93,
  postit1:#fff68b,
  postit2:#71d7ff,
  postit3:#ff7ecd,
  postit4:#ce81ff,
);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #ce81ff;
}
